<div class="content-wrap content-sidebar-right col-md-9 col-sm-8 col-xs-12">
  <div class="title-page clearfix">
    <h2 class="title30 font-bold"><%= t ".title" %></h2>
  </div>
  <div class="js-content-wrap blog-list-view ">
    <% @services.each do |s| %>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="post-thumb banner-advs zoom-image overlay-image">
          <%= link_to service_path(s) do %>
            <%= image_tag s.picture.url if s.picture? %>
          <% end %>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="post-info">
          <h3 class="title24 post-title dosis-font font-bold">
            <a href="" class="black"><%= s.name %></a>
          </h3>
          <p class="desc"><%= s.description %></p>
          <%= link_to t(".read_more"), service_path(s), class: "shop-button" %>
        </div>
      </div>
    </div>
    <% end %>
<%= paginate @services %>
</div>
