<div class="container">
<div class="main-wrap-shop col-md-12 col-sm-8">
  <div id="product-724">
    <div class="product-detail">
      <div class="row">
        <div class="col-md-5 col-sm-12 col-xs-12">
          <div class="detail-gallery">
            <div class="wrap-detail-gallery images zoom-style2">
              <div class="mid woocommerce-product-gallery__image">
                <%= image_tag @service.picture.url if @service.picture? %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12">
          <div class="summary entry-summary detail-info">
            <h2 class="product-title title24 font-bold text-uppercase">
              <%= @service.name %></h2>
            <p class="price"></p>
            <div class="product-price simple">
              <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span><%= @service.price %>
            </span>
          </div>
          </div>
          <div class="des ">
            <div>
              <p><%= @service.description %></p>
            </div>
            <% if logged_in? %>
              <%= link_to t(".book"), new_order_path(order:
              {service_id: @service.id, price: @service.price}), class: "btn btn-success" %>
            <% else %>
              <p class="price login"><%= t ".login" %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="related-product col-md-12">
      <h2 class="title18 font-bold text-uppercase single-title">
        <%= t ".related" %>
      </h2>
      <div class="product-slider">
        <% @other_services.each do |other_services| %>
        <div class="post-716 product">
          <div class="item-product item-product-grid">
            <div class="product-thumb">
              <%= link_to service_path(other_services) do %>
                <%= image_tag other_services.picture.url if other_services.picture? %>
              <% end %>
              <div class="product-extra-link text-center">
              <%= link_to t(".detail"), service_path(other_services), class: "button addcart-link shop-button bg-color" %>
              </div>
            </div>
            <div class="product-info">
              <h3 class="title18 text-uppercase product-title dosis-font font-bold">
                <%= link_to other_services.name, service_path(other_services) %>
              </h3>
              <div class="product-price simple"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span><%= other_services.price %></span></div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
<%= javascript_include_tag "services.js" %>
