<% provide :title, t(".title") %>
<div class="col-md-8">
  <%= form_for [:admin, @service], class: "nifty_form" do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :status %>
  <%= f.select :status, options_for_select([t(".public"), t(".pending")],
    {:selected => @service.status}) %>
  <%= f.text_field :price %>
  <%= f.text_field :description %>
  <%= f.submit t(".update"), class: "col-md-3 btn btn-success" %>
<% end %>
</div>
