<ul class="nav" id="side-menu">
  <li>
    <%= link_to t(".dashboard"), "#" %>
  </li>
  <li>
    <h4 class="dashboard"><%= t ".manage_content" %></h4>
  </li>
  <li>
    <%= link_to t(".posts"), "#" %>
  </li>
  <li>
    <%= link_to t(".comments"), "#" %>
  </li>
  <li>
    <%= link_to t(".likes"), "#" %>
  </li>
  <li>
    <%= link_to t(".pets"), "#" %>
  </li>
  <li>
    <%= link_to t(".services"), "#" %>
  </li>
  <li>
    <%= link_to t(".orders"), "#" %>
  </li>
  <li>
    <%= link_to t(".users"), "#" %>
  </li>
  <li>
    <h4 class="dashboard"><%= t ".stats" %></h4>
  </li>
</ul>
