<% provide(:title, t(".title")) %>
<div class="row">
  <%= link_to t(".back_to_orders"), admin_orders_path, class: "btn btn-success" %>
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <table width="100%" class="table table-bordered table-hover">
          <thead>
            <tr>
              <th><%= t ".pet" %></th>
              <th><%= t ".service" %></th>
              <th><%= t ".price" %></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @detail.pet_name %></td>
              <td><%= @detail.service_name %></td>
              <td><%= @detail.service_price %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
