<li id="pet-<%= pet.id %>">
  <span class="content">
    <%= pet.title %>
    <%= pet.content %>
    <%= pet.sumary %>
    <%= image_tag pet.picture.url if pet.picture? %>
  </span>
  <span class="timestamp">
    <%= t ".pet" %>
    <%= time_ago_in_words(pet.created_at) %>
    <%= t ".ago" %>
    <% if current_user.admin? %>
      <%= link_to t(".delete"), pet, method: :delete,
        data: { confirm: t(".are_u_sure") } %>
    <% end %>
  </span>
</li>
